<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"> 
    </script>
    <title>Chat Application</title>
  </head>
  <h2>Chat Application</h2>
  <body>
       <form action="/submit" method="POST">

    <section>
      <div id="change_username">
      <label for="name">UserName: </label>
	<input id="username" type="text" />
	<button id="send_username" type="button">Change username</button>
  <input type="reset" value="Cancel"/>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    

    <section id="input_zone"> 
    <label for="name">Message : </label>
      <input id="message" type="text" />
      <button id="send_message"  type="button">Send</button>
      <input type="reset" value="Cancel"/>
    </section>
     </form>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
